@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/TiemposTextWeb-Regular.eot');
  src: url('../fonts/TiemposTextWeb-Regular.eot?#iefix')
       format('embedded-opentype'),
       url('../fonts/TiemposTextWeb-Regular.woff')
       format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Tiempos';
  src: url('../fonts/TiemposTextWeb-RegularItalic.eot');
  src: url('../fonts/TiemposTextWeb-RegularItalic.eot?#iefix')
       format('embedded-opentype'),
       url('../fonts/TiemposTextWeb-RegularItalic.woff')
       format('woff');
  font-weight: normal;
  font-style: italic;
}
