/* COLOURS
----------------------------------------------------------------------------- */
$black: #000;
$grey-1: #222;
$grey-2: #444;
$grey-3: #888;
$grey-4: #bbb;
$grey-5: #ddd;
$grey-6: #eee;
$white: #fff;
$red: #fa402a;
$pink: #ff7a7a;
$preview-button-normal: #28c0e1;
$export-button-normal: #fa402a;
$button-hover: #fdff7a;



/* SASS IMPORTS
----------------------------------------------------------------------------- */
@import 'partials/foundation-redux';
@import 'partials/webfont-kit';
@import 'partials/layout';
@import 'partials/typography';
@import 'partials/radio';
